@import 'colors';

@mixin primary-background-button {
  background-color: $primary-color;
  color: $white;
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

